:root {
  /* THM-Farben */
  --primary: #80ba24; 
  --primary2: #4a5c66;

  --secondary: #9C132E;
  --secondary2: #F4AA00;
  --secondary3: #00B8E4;
  --secondary4: #002878;

  /* Hover-Farben */
  --primaryHover: #5a811b;
}

.App {
    text-align: center;
}

.App-logo {
    height: 20vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-slide infinite 30s linear;
    }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-slide {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: -100%;
  }
}

button {
    font-size: calc(10px + 2vmin);
    height: 35px;
}

.primaryBtn {
  background-color: var(--primary);
}

.primaryBtn:hover {
  background-color: var(--primaryHover);
}

/* ********** MENU ********** */

.menu {
  background-color: var(--primary);
  
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  float: right;
  justify-self: end;
  width: 36px;
  height: 30px;
  right: 1em;
  margin: 12px 0 12px 0;

}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: var(--primary2);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 50px;
  width: 50px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  right: 0%;
}

/* General sidebar styles */
.bm-menu {
  background: var(--primary2);
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
/*
.bm-morph-shape {
  fill: #373a47;
}
*/

/* Wrapper for item list */
.bm-item-list {
  color: white;
  padding: 0.8em;
  text-align: start;
}

/* Individual item */
.bm-item {
  display: inline-block;
  padding: 0.5em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

/* ********** BAND ********** */

.band-container {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 40px 10px 0px 10px;
}

.band-container__band{
  display: inline-block;
  padding: 5px;
  width: 60px;
  height: 40px;
  color: black;
  border: 1px solid gray;
}

.pointerBorder{
  border: 3px solid var(--primary);
  border-top: 8px solid var(--primary);
  position:relative;
  cursor: move;
  
}

.pointer{
  cursor: move;
}
.pointer::after{
    content: "";
    position: absolute;
    /*
    border-bottom: 19px solid var(--primary);
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    bottom: 36px;
    left: 0px;
    */

    /* Runder Kopf vom Pointer: */
    background: var(--primary);
    height: 25px;
    width: 48px;
    border-radius: 300px 300px 0px 0px;
    margin-left: -8px;
    margin-top: -35px;
}

.pointer:hover {
  background-color: var(--primaryHover);
}

.paper, .tech {
  background-image: url('./assets/images/spritesheet2.png');
  background-repeat: no-repeat;  
}

.paper {
  background-position: 0 0;
}

.tech {
  background-position: -60px 0;
}


/* ********** TABLE ********** */

.editBtnDiv{
 position: fixed;
}

.editBtn{
  width: 45px;
  height: 45px;
}