.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-slide infinite 30s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-slide {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: -100%;
  }
}

button {
  font-size: calc(10px + 2vmin);
}


/* ********** BAND ********** */

.band-container {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 40px 10px 0px 10px;
}

.band-container__band{
  display: inline-block;
  padding: 5px;
  width: 60px;
  height: 40px;
  color: black;
  border: 1px solid gray;
}

.pointer{
  border: 2px solid #80ba24;
  border-top: 8px solid #80ba24;
  position:relative;
  cursor: move;
  
}
.pointer::before{
    content: "";
    position: absolute;
    border-bottom: 19px solid #80ba24;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    bottom: 37px;

}

.paper, .tech {
  background-image: url('./assets/images/spritesheet.png');
  background-repeat: no-repeat;  
}

.paper {
  background-position: 0 0;
}

.tech {
  background-position: -60px 0;
}


/* ********** TABLE ********** */

.editBtnDiv{
 position: fixed;
}

.editBtn{
  width: 45px;
  height: 45px;
}